<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= jogador%></h1>
    <p>Fez <%= gols%> gols pela seleção <%=seleçao%>. Mede <%=altura%> de altura</p>
    
    <a href="/<%=pais%>">voltar</a>
</body>
</html>